.App {
  text-align: center;
}


header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: left;
}

.header-nav a{
  color: #61dafb;
  margin-left: 20px;
  text-decoration: none;
  font-size: 30px;
}


.title-home-page{
  font-size: 50px;
  margin: 50px auto;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container ul{
  padding: 0;
}

.container-planet{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 15px 0;
  border-radius: 5px;
  margin: 15px 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  background: #ccccff;
  cursor: pointer;
}

.pagination{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pagination li{
  margin: 5px;
  font-size: 20px;
  list-style: none;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .active{
  background: #ccccff;
}

.pagination li a {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
}

.pagination li a:focus {
  outline:0;
}

.planet-information{
  list-style: none;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  background-color: #ccccff;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.planet-information li{
  padding: 10px;
}

.peoples-container{
  display: flex;
  padding: 10px;
}

.peoples{
  list-style: none;
  padding-left: 10px;
}
.peoples li{
  padding: 0;
  padding-bottom: 2px;
}
